<table class="table table-striped table-hover table-bordered table-fixed">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Type</th>
          <th>Question text<br></th>
          <th>Answer 1<br></th>
          <th>Answer 2<br></th>
          <th>Answer 3<br></th>
          <th>Answer 4<br></th>
          <th>Correct Answer<br></th>
        </tr>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
        <tr>
          <td><%= question.question_topic %></td>
          <td><%= question.question_type %></td>
          <td><%= question.question_text %></td>
          <td><%= question.choice1 %></td>
          <td><%= question.choice2 %></td>
          <td><%= question.choice3 %></td>
          <td><%= question.choice4 %></td>
          <td><%= question.correct_answer %></td>
        </tr>
        <% end %>
      </tbody>
    </table>